ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie elementów wewnątrz */
  text-align: center; /* Dodatkowe wyśrodkowanie tekstu */
}

li {
  font-size: 28px;
}

button {
  display: block; /* Zapewnia możliwość centrowania */
  margin: 20px auto; /* Wyśrodkowanie poziome */
  padding: 10px 20px;
  font-size: 20px;
}
